extends layout

block content
  h1= title
  label(
    for='bot-token'
    class='blue'
  ) Cisco Spark Bot Token

  input#bot-token(
    type='text'
    name='bot-token'
    placeholder="Your bot token"
  )

  input#save-bot-token(
    type='button'
    value='Save'
  )

  h2#results

  script(src='/javascripts/jquery-3.2.1.js')
  script(src="/javascripts/manager.js")