extends layout

block content
  div.row
    div.col-md-12
      h1= title

  div.row
    div.col-md-3.steps-container
      //div.well.sidebar-nav
      h4 Available step types do be added to the flow
      each stepType in stepTypes
        div.stepType
          h5= '- ' + stepType.description

    div.col-md-9#flow-container
      h3 Steps
      div#empty-flow.hidden
        h4 You have no steps yet. Start by adding one!

      div#steps.list-group
        // will be populated after the AJAX call

      // Trigger the modal with a button
      button.btn.btn-info.btn-lg(type="button", data-toggle="modal", data-target="#myModal") Add step

      button#save-steps.btn.btn-primary.hidden(type="button") Save

  // Modal
  div#myModal.modal.fade(role="dialog")
    div.modal-dialog
      // Modal content
      div.modal-content
        div.modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Modal Header
        div.modal-body
          div.form-group
            label(for="new-step-selector") Select list:
            select#new-step-selector.form-control
              each stepType in stepTypes
                option(value=stepType.id)= stepType.description
        div.modal-footer
          button#modal-add-step.btn.btn-primary(type="button") Add step
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

  script.
    var stepTypes = !{JSON.stringify(stepTypes).replace(/<\//g, '<\\/')};
    var flowId = !{flowId}; // used on AJAX requests
  script(src='/javascripts/libs/Sortable-1.5.1/Sortable.js')
  script(src='/javascripts/flow.js' defer)