extends layout

block content
  div.row
    div.col-md-12
      a(href='/manager') Back
      h1= title

  div.row
    div.col-md-3.steps-container
      //div.well.sidebar-nav
      h3 Available step types do be added to the flow
      each stepType in stepTypes
        div.stepType
          h4= '--- ' + stepType.description

    div.col-md-9#flow-container
      h3 Steps
      div#empty-flow.hidden
        h4 You have no steps yet. Start by adding one!
        | * missing button *
      div#steps.list-group
        // will be populated after the AJAX call

      input#add-step.btn.btn-primary(
      type='button'
      value='Add step'
      )

      input#save-steps.btn.btn-primary.hidden(
      type='button'
      value='Save'
      )


  script.
    var stepTypes = !{JSON.stringify(stepTypes).replace(/<\//g, '<\\/')};
    var flowId = !{flowId}; // used on AJAX requests
  script(src='/javascripts/libs/Sortable-1.5.1/Sortable.js')
  script(src='/javascripts/flow.js' defer)