extends layout

block content
  a(href='/manager') Back
  h1= title
  div#flow-container
    h3 Steps
    div#steps
      // will be populated after the AJAX call
    input#save-steps(
    type='button'
    value='Save'
    )

  div.steps-container
    h3 Available step types do be added to the flow
    each stepType in stepTypes
      div.stepType
        h4= '--- ' + stepType.description

  script.
    var stepTypes = !{JSON.stringify(stepTypes).replace(/<\//g, '<\\/')};

  script(src='/javascripts/flow.js' defer)