doctype html
html(lang='en')
  head
    title= title
    //- Required meta tags
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Material Icons
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    //- Bundled stylesheet
    //- link(rel='stylesheet', href=static.root + '/css/index.css@' + static.suffix)
    link(rel='stylesheet', href=static.root + '/css/index.css')

  body
    nav.navbar.navbar-light.sticky-top
      a.navbar-brand(href='/')
        //- Add icon image
        .navbar-brand-icon
        span Onboarding Bot
      ul.navbar-nav.ml-auto
        if locals.user && locals.user.isAuthenticated
          li.nav-item
            a.nav-link(href='#') Username
          li.nav-item
            a.nav-link(href="/auth/logout")
              svg.icon
                use(xlink:href=static.root + "/sprite.svg#power")
        else
          li.nav-item
            a.nav-link(href="/auth/spark") Sign up with Cisco Spark
              svg.icon
                use(xlink:href=static.root + "/sprite.svg#lock")

    mixin item(title, url, icon)
      li.nav-item
        a.nav-link(href=url, class=active === title ? 'active' : '')
          svg.icon
            use(xlink:href=static.root + "/sprite.svg#" + icon)
          span.sr-only= title

    .container-fluid
      .row
        .sidenav#sidenav
          ul.nav.flex-column
            +item('Home', '/', 'home')
            +item('Manager', '/manager', 'manager')
            +item('Search user', '/test', 'search')
            +item('Settings', '/settings', 'settings')
        main.content.col
          block content
    footer
      .container-fluid
        .row
          .col.text-center
            svg.logo
              use(xlink:href=static.root + "/sprite.svg#logo")
            small.text-muted © Cisco Systems, Inc. 2017

    //- Main script, for all pages, before the custom page scripts
    //- script(src=static.root + '/js/main.js@' + static.suffix)
    script(src=static.root + '/js/main.js')

    block pageScripts
