doctype html
html(lang='en')
  head
    title= title
    // Required meta tags
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    // Material Icons
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    // Bundled stylesheet
    //link(rel='stylesheet', href=static.root + '/css/index.css@' + static.suffix)
    link(rel='stylesheet', href=static.root + '/css/index.css')
  body
    nav.navbar.navbar-light.sticky-top
      a.navbar-brand(href='#')
        //- Add icon image
        .navbar-brand-icon
        span= title
      ul.navbar-nav.ml-auto
        if locals.user && locals.user.isAuthenticated
          li.nav-item
            a.nav-link(href='#') Username
          li.nav-item
            a.nav-link(href="/auth/logout")
              svg.icon
                use(xlink:href=static.root + "/sprite.svg#power")
        else
          li.nav-item
            a.nav-link(href="/auth/spark") Sign up with Cisco Spark
              svg.icon
                use(xlink:href=static.root + "/sprite.svg#lock")

    .container-fluid
      .row
        .col-2.sidenav#sidenav
          ul.nav.flex-column
            li.nav-item
              a.nav-link(href='/')
                svg.icon
                  use(xlink:href=static.root + "/sprite.svg#home")
                span Home
            li.nav-item
              a.nav-link.active(href='/manager')
                svg.icon
                  use(xlink:href=static.root + "/sprite.svg#manager")
                span Manager
            li.nav-item
              a.nav-link(href='/test')
                svg.icon
                  use(xlink:href=static.root + "/sprite.svg#search")
                span Search user
            li.nav-item
              a.nav-link(href="/settings")
                svg.icon
                  use(xlink:href=static.root + "/sprite.svg#settings")
                span Settings
        main.content.col-12.col-md-10
          block content
    footer
      .container-fluid
        .row
          .col.text-center
            svg.logo
              use(xlink:href=static.root + "/sprite.svg#logo")
            small.text-muted © Cisco Systems, Inc. 2017

    //script(src=static.root + '/js/main.js@' + static.suffix)
    script(src=static.root + '/javascripts/libs/jquery-3.2.1/jquery-3.2.1.js')
    script(src=static.root + '/javascripts/main.js')

    block pageScripts
