doctype html
html(lang='en')
  head
    title= title
    // Required meta tags
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    // Material Icons
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    // Bundled stylesheet
    //link(rel='stylesheet', href=static.root + '/css/index.css@' + static.suffix)
    link(rel='stylesheet', href=static.root + '/css/index.css')
  body
    nav.navbar.navbar-toggleable-md.sticky-top
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse" data-target="#navbarsExampleDefault")
        span.navbar-toggler-icon
      a.navbar-brand(href='#')
        //- Add icon image
        .navbar-brand-icon
      div#navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
          if locals.user && locals.user.isAuthenticated
            a.nav-link(href='#') Username
            a.nav-link(href="/auth/logout")
              i.fa.fa-power-off
          else
            a.nav-link(href="/auth/spark") Sign up with Cisco Spark

    .container-fluid
      .row
        .sidenav
          ul.nav.flex-column
            li.nav-item
              a.nav-link(href='/') 
                i.material-icons home
                span.sr-only (current)
            li.nav-item
              a.nav-link.active(href='/manager')
                i.fa.fa-tasks
            li.nav-item
              a.nav-link(href='/test')
                i.fa.fa-search
            li.nav-item
              a.nav-link(href="/settings")
                i.fa.fa-cog
        main.col
          block content
    footer
      .container-fluid
        .row
          .col.text-center
            small.text-muted © Cisco Systems, Inc. 2017

    //script(src=static.root + '/js/main.js@' + static.suffix)
    script(src=static.root + '/js/main.js')

    block pageScripts
