extends layout

block content
  div#root
    div.row
     h1.mt-4.mb-4.col-8 !{title} Dashboard
     div.btn-group.mb-4.mt-4.col-4(role="group")
       a.btn.btn-outline-primary(style={width: '110px'}, href='/manager/flow/' + flowId + '/edit', role="button", data-toggle="tooltip")
         svg.icon(style={width: '20px', height: '20px'})
           use(xlink:href=static.root + "/sprite.svg#settings")
         | Edit
       a.btn.btn-outline-primary(style={width: '110px'}, href='/manager/flow/' + flowId + '/send', role="button", data-toggle="tooltip")
         svg.icon.send(style={width: '20px', height: '20px'})
           use(xlink:href=static.root + "/sprite.svg#send")
         | Send
       a.btn.btn-outline-primary(style={width: '110px'}, href='/manager/flow/' + flowId + '/answers', role="button", data-toggle="tooltip")
         svg.icon(style={width: '20px', height: '20px'})
           use(xlink:href=static.root + "/sprite.svg#answer")
         | Answers
       a.btn.btn-outline-primary.active(style={width: '110px'}, href='/manager/flow/' + flowId +'/dashboard',role="button",data-toggle="tooltip")
         svg.icon(style={width: '20px', height: '20px'})
           use(xlink:href=static.root + "/sprite.svg#dashboard")
         | Dashboard
    div.card-deck.mt-4
      div.card.card-outline-primary.text-center
        div.card-block
          h5.card-title Total Users
          p.card-subtitle.mb-2.text-muted Number of users whose flow was sent
          h5.card-text {{totalUsers}}
      div.card.card-outline-primary.text-center
        div.card-block
          h5.card-title Average time
          p.card-subtitle.mb-2.text-muted Average time an user takes to answer the flow
          h5.card-text !{avgTime}
      div.card.card-outline-primary.text-center
        div.card-block
          h5.card-title Minimum time
          p.card-subtitle.mb-2.text-muted Least amount of time taken to answer the flow
          h5.card-text !{minTime}
      div.card.card-outline-primary.text-center
        div.card-block
          h5.card-title Maximum time
          p.card-subtitle.mb-2.text-muted ⁠⁠⁠Maximum amount of time taken to answer the flow
          h5.card-text !{maxTime}
    div.row.mt-5
      div.col-5#containerU(style={width:'100%',height:'300px'})
      div.col-7#containerQ(style={width:'100%',height:'300px'})

block pageScripts
  script.
    var usersArray = !{JSON.stringify(usersArray).replace(/<\//g, '<\\/')};
    var sumUsers = 0;
    usersArray.forEach(function (element) {
      sumUsers += parseInt(element.count);
      element.y = parseInt(element.count);
    });

    var answersArrayData = !{JSON.stringify(answersArray).replace(/<\//g, '<\\/')};
    var answersArray = [{
      name: "Questions",
      colorByPoint: true,
      data: answersArrayData
    }];

    console.log(answersArrayData);

    var stepChoiceArray = !{JSON.stringify(stepChoiceArray).replace(/<\//g, '<\\/')};


  script(src=static.root + '/js/manager_flow_dashboard.js')