extends layout

block content

  div#app.container-fluid
    div.text-center.p-4
      h4.mb-4= 'Answers Collected'
      p.text-muted.mb-4.mt-4 Type over "Username", "Date" or "#" to reorder the results
    div
      label Search for
      input.mb-4(type="text", v-model="filterText",@keyup.enter="doFilter",placeholder="username")
      button.btn.btn-info(@click="doFilter") Go
      button.btn.btn-border(@click="resetFilter") Reset
    vuetable(ref="vuetable",
            api-url= "../../../test/answers/"+flowId+"/"+totalAnswers ,
            :fields= "fields",
            :css="css",
            pagination-path="",
            :per-page="10",
            :muti-sort="true",
            multi-sort-key="ctrl",
            :append-params="moreParams",
            @vuetable:pagination-data="onPaginationData")
    div
      vuetable-pagination-info(ref="paginationInfo",:css="cssPagination",info-class="pull-left")
      vuetable-pagination(ref="pagination",:css="cssPagination",@vuetable-pagination:change-page="onChangePage")

block pageScripts
    script.
        var flowId = !{flowId}; // used on AJAX requests
    script(src=static.root + '/js/manager_flow_answers.js')

