extends layout


block content

  div#app.container-fluid
    div.text-center.p-4
      h1.text-center.mb-4.mt-4 Answers Collected
      p.text-muted.mb-4.mt-4 Press over "Username", "Date" or "#" to reorder the results
    div
      label(style='margin-right: 10px;') Search for
      input.mb-4(type="text", v-model="filterText", @keyup.enter="doFilter", placeholder="username")
      button.btn.btn-info(style='margin-left: 15px;', @click="doFilter") Go
      button.btn.btn-border(style='margin: 15px;', @click="resetFilter") Reset
      button.btn.btn-success.pull-right(@click="exportCSV") Export to CSV
    vuetable(
      ref="vuetable",
      api-url= "../../../test/answers/" + flowId + "/" + totalAnswers ,
      :fields= "fields",
      :css="css",
      pagination-path="",
      :per-page="10",
      :muti-sort="true",
      multi-sort-key="ctrl",
      detail-row-component="my-detail-row",
      :append-params="moreParams",
      @vuetable:cell-clicked="onCellClicked",
      @vuetable:pagination-data="onPaginationData")
    div
      vuetable-pagination-info(ref="paginationInfo", :css="cssPagination", info-class="pull-left")
      vuetable-pagination(ref="pagination", :css="cssPagination", @vuetable-pagination:change-page="onChangePage")

block pageScripts
  script.
    var flowId = !{flowId}; // used on AJAX requests
  script(src=static.root + '/js/manager_flow_answers.js')


