extends layout

block content
  div.p-4
    h4.mb-4= title

    div.row
      div.col-6
        div.form-group
          label(
          for='bot-token'
          class='blue'
          ) Cisco Spark Bot Token

          input#bot-token.form-control(
          type='text'
          name='bot-token'
          placeholder="Your bot token"
          )

        input#save-bot-token.btn.btn-primary(
        type='button'
        value='Save'
        )
        hr
    div.row
      div.col-6
        div.form-group
          label(
          for='bot-token'
          class='blue'
          ) ...

          input.form-control(
          type='text'
          name='bot-token'
          placeholder="..."
          )

        input.btn.btn-primary(
        type='button'
        value='Save'
        )
        hr
    div.row
      div.col-6
        div.form-group
          label(
          for='bot-token'
          class='blue'
          ) ...

          input.form-control(
          type='text'
          name='bot-token'
          placeholder="..."
          )

        input.btn.btn-primary(
        type='button'
        value='Save'
        )

      h2#results

block pageScripts
  //script(src=static.root + '/js/settings.js@' + static.suffix)
  script(src=static.root + '/js/settings.js')
