extends layout

block content
  div#app
    div.p-4
      h4.mb-4= title

      h2 Bots
      div.row
        div.col-6
          div.card(v-for='bot in bots')
            //| {{ bot }}
            div.card-block
              div.form-group
                label(
                for='bot-name'
                class='blue'
                ) Name
                input#bot-name.form-control(v-model="bot.name")
              div.form-group
                label(
                for='bot-access-token'
                class='blue'
                ) Access token
                input#bot-access-token.form-control(v-model="bot.access_token")
              div.form-group
                label(
                for='bot-public-address'
                class='blue'
                ) Public HTTPS address
                  span(data-toggle="tooltip", data-placement="top" title="For incoming webhooks")
                    i.material-icons info
                input#bot-public-address.form-control(v-model="bot.public_https_address")
              div.form-group
                label(
                for='bot-webhook-name'
                class='blue'
                ) Webhook name
                  span(data-toggle="tooltip", data-placement="top" title="Used to identify the bot when there is more than one")
                    i.material-icons info
                input#bot-webhook-name.form-control(v-model="bot.webhook_name")
            div.card-footer

      input.mt-2.btn.btn-primary(
      type='button',
      value='Add bot',
      @click='addBot'
      )

      input.mt-2.ml-2.btn.btn-primary(
      type='button',
      v-model="saveBotsBtnText",
      @click='saveBots'
      )

      // TODO: remove bots


      //div.row
      //  div.col-6
      //    div.form-group
      //      label(
      //      for='bot-token',
      //      class='blue'
      //      ) ...
      //
      //      input#bot-token.form-control(
      //        type='text',
      //        name='bot-token',
      //        placeholder="..."
      //      )
      //
      //    input.btn.btn-primary(
      //    type='button',
      //    value='Save'
      //    )
      //
      //  h2#results

      h2.mt-4 Google Drive
      div.row
        div.col-6
          div.card
            div.card-block
              div.form-group
                label(
                for='gdrive-client-id'
                class='blue'
                ) Client ID
                input#gdrive-client-id.form-control(v-model="gdriveSettings.gdrive_or_box_client_id")
              div.form-group
                label(
                for='gdrive-developer-key'
                class='blue'
                ) Developer Key
                input#gdrive-developer-key.form-control(v-model="gdriveSettings.google_drive_developer_key")
              div.form-group
                label(
                for='gdrive-user-account'
                class='blue'
                ) User Account
                input#gdrive-user-account.form-control(v-model="gdriveSettings.gdrive_or_box_user_account")
              div.form-group
                label(
                for='gdrive-key-file'
                class='blue'
                ) Key file
                input#gdrive-key-file.form-control(@change="bindFileGdrive", type="file")

      h2.mt-4 Box
      div.row
        div.col-6
          div.card
            div.card-block
              div.form-group
                label(
                for='box-user-id'
                class='blue'
                ) Account User ID
                input#box-user-id.form-control(v-model="boxSettings.box_user_id")
              div.form-group
                label(
                for='box-client-id'
                class='blue'
                ) Application Client ID
                input#box-client-id.form-control(v-model="boxSettings.gdrive_or_box_client_id")
              div.form-group
                label(
                for='box-user-account'
                class='blue'
                ) User Account (email address)
                input#box-user-account.form-control(v-model="boxSettings.gdrive_or_box_user_account")
              div.form-group
                label(
                for='box-key-file'
                class='blue'
                ) Key file
                input#box-key-file.form-control(@change="bindFileBox", type="file")


    hr
    div.row
      div.col.text-right
        button.mb-3.btn.btn-primary.btn-lg(type="button", @click="saveSettings") Save


block pageScripts
  script.
    var serverSideSettingsList = !{JSON.stringify(serverSideSettingsList)};
  script(src=static.root + '/js/settings.js' + static.suffix)
