extends layout

block content
  div#app
    div.p-4
      h4.mb-4= title

      div.row
        h2 Bots
        div.col-6
          div.card(v-for='bot in bots')
            //| {{ bot }}
            div.card-block
              div.form-group
                label(
                for='bot-name'
                class='blue'
                ) Name
                input#bot-name.form-control(v-model="bot.name")
              div.form-group
                label(
                for='bot-access-token'
                class='blue'
                ) Access token
                input#bot-access-token.form-control(v-model="bot.access_token")
              div.form-group
                label(
                for='bot-public-address'
                class='blue'
                ) Public HTTPS address
                input#bot-public-address.form-control(v-model="bot.public_https_address")
              div.form-group
                label(
                for='bot-secret'
                class='blue'
                ) Secret
                input#bot-secret.form-control(v-model="bot.secret")
            div.card-footer

      input.btn.btn-primary(
      type='button',
      value='Add bot',
      @click='addBot'
      )

      input.btn.btn-primary(
      type='button',
      value='Save bots',
      @click='saveBots'
      )


      div.row
        div.col-6
          div.form-group
            label(
            for='bot-token',
            class='blue',
            ) Cisco Spark Bot Token

            input#bot-token.form-control(
            type='text',
            name='bot-token',
            placeholder="Your bot token"
            )

          input#save-bot-token.btn.btn-primary(
          type='button'
          value='Save'
          )
          hr
      div.row
        div.col-6
          div.form-group
            label(
            for='bot-token',
            class='blue',
            ) ...

            input.form-control(
            type='text',
            name='bot-token',
            placeholder="..."
            )

          input.btn.btn-primary(
          type='button',
          value='Save'
          )
          hr
      div.row
        div.col-6
          div.form-group
            label(
            for='bot-token',
            class='blue'
            ) ...

            input.form-control(
            type='text',
            name='bot-token',
            placeholder="..."
            )

          input.btn.btn-primary(
          type='button',
          value='Save'
          )

        h2#results

block pageScripts
  script.
    var serverSideSettingsList = !{JSON.stringify(serverSideSettingsList)};
  //script(src=static.root + '/js/settings.js@' + static.suffix)
  script(src=static.root + '/js/settings.js')
