extends layout

block content
  h1= title

  div
    label(for='txt-search-user') Search User:

    input#txt-search-user(type='text' name='search-user' placeholder='Type a username to search')

    input#btn-search-user.btn.btn-primary(type='button' name='btn-search-user' value='Search')

    div#result-info

    ul#lst-result-user
  div
    show picker
    input(type='button', value='select file', onclick='gdriver.selectFile(function(r){ alert("fileId: " + r);})')
    input(type='button', value='select dir', onclick='gdriver.selectFolder(function(r){ alert("folderId: " + r);})')

  //script(src=static.root + '/js/test.js@' + static.suffix)
  script(src=static.root + '/js/test.js')
  //script(src=static.root + '/js/gdrive.js@' + static.suffix)
  script(src=static.root + '/js/gdrive.js')

  script.
    var gdriver = new GDriver('!{gdrive_client_id}', '!{gdrive_developer_key}', '!{gdrive_share_to}');
    function onGoogleApiLoaded() {
      gdriver.onApiLoaded();
    }


  script(src='https://apis.google.com/js/api.js?onload=onGoogleApiLoaded' defer)
