extends layout

block content
  div.text-center.p-4
    h4.mb-4= title
    p.text-muted.mb-4.mt-4 Search for people to share documents and other information
    
    div.row
      div.col-6.offset-3
        div.row.search
          div.col-10
            input.form-control#txt-search-user(type='text' name='search-user' placeholder='Type a username to search')
          div.col-2
            input#btn-search-user.btn.btn-block(type='button' name='btn-search-user' value='Search')

          div#result-info

          ul#lst-result-user
          
    div.row
      div.col
        div(style="background-color: #AFF2FF; padding: 20px;")
          div Google Drive picker
          div
            input(type='button', value='Files', onclick='GDrive.selectFile(function(r){ alert("fileId: " + r);})')
          div
            input(type='button', value='Directories', onclick='GDrive.selectFolder(function(r){ alert("folderId: " + r);})')


  //script(src=static.root + '/js/test.js@' + static.suffix)
  script(src=static.root + '/js/test.js')

  //script(id='gdrive', src=static.root + '/js/gdrive.js@' + static.suffix,
  script(id='gdrive', src=static.root + '/js/gdrive.js',
  data-gdrive-client-id=gdrive_client_id,
  data-gdrive-developer-key=gdrive_developer_key,
  data-gdrive-share-to=gdrive_share_to
  )
  script(async, defer, src="https://apis.google.com/js/api.js", onload="GDrive.onApiLoaded()")
  //onreadystatechange="if (this.readyState === 'complete') this.onload()")
