extends layout

block content
  div.text-center.p-4
    h4.mb-4= title
    p.text-muted.mb-4.mt-4 Search for people to share documents and other information

    div.row
      div.col
        div(style="background-color: #AFF2FF; padding: 20px;")
          div Google Drive picker
          div
            input(type='button', value='Files', onclick='GDrive.selectFile(function(r){ alert("fileId: " + r);})')
          div
            input(type='button', value='Directories', onclick='GDrive.selectFolder(function(r){ alert("folderId: " + r);})')
    div.row
      div.col
        div(style="background-color: #AFF2FF; padding: 20px;")
          div Box picker
          div
            input(type='button', value='Files', onclick='Box.selectFile(function(r){ alert("fileId: " + r);})')
          div
            input(type='button', value='Directories', onclick='Box.selectFolder(function(r){ alert("folderId: " + r);})')

block pageScripts
  script(src=static.root + '/js/test.js' + static.suffix)

  script(id='gdrive', src=static.root + '/js/gdrive.js' + static.suffix,
  data-gdrive-client-id=gdrive_client_id,
  data-gdrive-developer-key=gdrive_developer_key,
  data-gdrive-share-to=gdrive_share_to
  )
  script(id='box', src=static.root + '/js/box.js')
  script(async, defer, src="https://apis.google.com/js/api.js", onload="GDrive.onApiLoaded()")
  script(async, defer, src="https://cdn01.boxcdn.net/js/static/select.js", onload="Box.onApiLoaded()")
  //onreadystatechange="if (this.readyState === 'complete') this.onload()")
