extends layout

block content
  h1= title

  div
    label(for='txt-search-user') Search User:

    input#txt-search-user(type='text' name='search-user' placeholder='Type a username to search')

    input#btn-search-user.btn.btn-primary(type='button' name='btn-search-user' value='Search')

    div#result-info

    ul#lst-result-user

  div(style="background-color: #AFF2FF; padding: 20px;")
    div Google Drive picker
    div
      input(type='button', value='Files', onclick='GDrive.selectFile(function(r){ alert("fileId: " + r);})')
    div
      input(type='button', value='Directories', onclick='GDrive.selectFolder(function(r){ alert("folderId: " + r);})')

  //script(src=static.root + '/js/test.js@' + static.suffix)
  script(src=static.root + '/js/test.js')

  //script(id='gdrive', src=static.root + '/js/gdrive.js@' + static.suffix,
  script(id='gdrive', src=static.root + '/js/gdrive.js',
  data-gdrive-client-id=gdrive_client_id,
  data-gdrive-developer-key=gdrive_developer_key,
  data-gdrive-share-to=gdrive_share_to
  )
  script(async, defer, src="https://apis.google.com/js/api.js", onload="GDrive.onApiLoaded()")
  //onreadystatechange="if (this.readyState === 'complete') this.onload()")