extends layout

block content
  h1= title

  div.flows-container
    | Available flows
    each flow in flows
      div
        a.flow(href='/manager/flow/' + flow.id)
          | #{flow.name} (Status: #{flow.status})











  h3(style='margin-top:50px') Tests/Sandbox:

  div
    a(href='/test') Test search by user

  br
  br
  br

  label(
  for='bot-token'
  class='blue'
  ) Cisco Spark Bot Token

  input#bot-token(
  type='text'
  name='bot-token'
  placeholder="Your bot token"
  )

  input#save-bot-token(
  type='button'
  value='Save'
  )

  h2#results

  script(src='/javascripts/manager.js' defer)